body {
  background-color: rgb(4, 4, 34);
}

h1, h2 {
  text-align: center;
  color: white;
}

.nav-link {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: white;
}

.img-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 15%;
}

.center {
  margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.card {
  height: 100%;
  transform: scale(0.9); 
}

.card-title {
  display: flex;
  align-items: center;
}

.card-body h3 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.mb-2 {
  display: flex;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
}

.contact-section {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.title {
  margin-bottom: 20px;
}

.section__text__p1 {
  text-align: center;
}

.contact-info-container {
  text-align: center;
}

.blockquote {
  text-align: center;
}

#developer {
  background-color: rgb(4, 4, 34);
  background-size: cover;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-image {
  max-width: 100%;
  height: auto;
  margin-left: auto;
}

.left-section {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 50px;
  padding-left: 94px;
  color: white;
  text-align: center;
}

#About {
  color: white;
}

#introduction {
  color: white;
  font-size: larger;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

#myimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-container {
  display: flex;
  padding-right: 200px;  
}

#buttons {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

#contact {
  color: white;
}

.violet {
  color: violet;
}

.vio {
  color: violet;
}

@media (max-width: 576px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 0;
  }

  .about-container .left-section {
    margin-bottom: 20px;
    padding-left: 0;
  }

  .about-container .right-section {
    width: 90%;
  }

  #introduction {
    width: 100%;
    box-sizing: border-box;
  }

  .left-section {
    justify-content: center;
    font-size: 30px; 
    padding-left: 0;
  }
}
.custom-blockquote {
    color: black;
}
